<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link type="text/css" rel="stylesheet" href="ulkoasu.css">
	<title>Etanalistaus</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div>
	<div><form th:action="@{/logout}" method="post">
	<input type="submit" value="Kirjaudu ulos" class="Button2" style="float:right"/>
	</form>
	</div>
	<div><h1>Etanalistaus</h1></div>
</div>
	<table>
		<tbody>
			<tr th:each = "etana : ${etanat}">
				<td ><img th:src= "${etana.url}"  alt="Etana" style="width:60px;height:60px"></td>
				<td class="otsikko" th:text = "${etana.laji}"></td>
				<td th:text = "${etana.latina}"></td>
				<td th:text = "${etana.pituus}"></td>
				<td th:text = "${etana.vari.vari}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="Poista" th:href = "@{/delete/{id}(id=${etana.id})}">P</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="Muokkaa" th:href = "@{/muokkaa/{id}(id=${etana.id})}">M</a></td>
				<td> <a class="Rest" th:href = "@{/api/etanas/{id}(id=${etana.id})}">Rest</a></td>

			</tr>
		</tbody>
	</table>
	
	<br><br>
	<a sec:authorize="hasAuthority('ADMIN')" class="Button" th:href="@{/lisaa}">Lisää etana</a>
</body>
</html>