<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa etanat tietoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form th:object="${etana}" th:action="@{/save}" action="#" method="post">

			<input type="hidden" id="id" th:field="*{id}"/>
			<label for="laji">Laji </label> 
			<input type="text" id="laji" th:field="${etana.laji}" />
			<br><label for="latina">Latina </label> 
			<input type="text" id="latina" th:field="${etana.latina}" />
			<br><label for="pituus">Latina </label> 
			<input type="text" id="pituus" th:field="${etana.pituus}" />
			<br>
			<label for="etanaid">Väri</label>
			 <select id="etanaid" th:field="*{vari}" class="form-control">
       			 	<option th:value=1 th:text="Musta"></option>
				    <option th:value=2 th:text="Ruskea"></option>
				    <option th:value=3 th:text="Vaalea"></option>
    		</select>

			<input type="submit" value="Päivitä"></input>
		</form>

	</div>
</body>
</html>